html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

@media (min-width: 575.98px) { 
    form {
       
        width: 90%;
    }
 }

@media (min-width: 767.98px) { 
    form {
        
        width: 80%;
    }
}

@media (min-width: 991.98px) { 
    form {
       
        width: 60%;
    }
 }


@media (min-width: 1199.98px) { 
    form {
        width: 50%;
    }
}